* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #333541;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: #FE2E2E;
	max-width: 80%;
	height: 100%;
	margin: 0 auto;
}

header{
	background-color: #B7293C;
	height: 120px;
}

.paddin-Text{
	padding-left: 10px;
	padding-top: 5px;
}
.titulo{
	margin-left: 20px;
}

nav{
	background-color: #333541;

}
ul{
	list-style-type: none;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.black-text{
	color: #333541;
}

section{
	background-color: #FFFFFF;
	height: 450px;
}

article{

	height: 450px;
	border-right: 2px solid gray;
	text-align: center;
}

aside{
	height: 450px;
}


footer{
	background-color: #B7293C;
	text-align: center;
}
table, th, td {
    border: 1px solid grey;
    margin: 0 auto	;
}
.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}